initial_prompt.json
replacements.json
/faster_whisper/initial_prompt.json
/faster_whisper/replacements.json
/whisper/initial_prompt.json
/whisper/replacements.json
/faster_whisper/models/whisper-large-v2-ct2-f16
/faster_whisper/models/whisper-large-v2-ru-f16
/faster_whisper/models/whisper-medium-ct2-f16
/faster_whisper/models/whisper-small-ru-f16